{% extends 'base.html.twig' %}
{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}
{% block header %}
    <h2>Voici le header</h2>
{% endblock %}
{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenue sur SYMBNB !</h1>
            <p class="col-md-8 fs-4">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leurs biens à la location</p>
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}">
                Voir nos annonces
            </a>
        </div>
    </div>

    <div class="container">

        <h2 class="text-center h1 mt-3 mb-4">Nos appartements stars</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center px-0 pb-0">
                        3 chambres <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                        <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eligendi, eos et nulla porro rem rerum sed voluptatum. Atque, eum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center px-0 pb-0">
                        3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                        <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eligendi, eos et nulla porro rem rerum sed voluptatum. Atque, eum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center px-0 pb-0">
                        3 chambres <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>

                        <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eligendi, eos et nulla porro rem rerum sed voluptatum. Atque, eum.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center h1 mt-3 mb-4">Nos propriétaires stars</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Pier Philippon</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Avater de Pier Philippon" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, tempora!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Pier Philippon</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Avater de Pier Philippon" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, tempora!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
